{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div id="header">
        <button id="create-btn" onclick="createFlowchart()">フローチャート作成</button>
    </div>
    <div id="flowchart-area">
        <div id="input-flowchart">
            <span id="title-area">タイトル：<input type="text" id="flowchart-title" placeholder="タイトル"></span>

            <div id="flowchart-input-area">
                <div id="flowchart-start" class="flowchart-start-end">開始</div>
                <hr class="add-line">
                <div class="flowchart-box">
                    <div>↓</div>
                    <input type="text" class="flowchart-input process" placeholder="プロセス">
                    <hr class="add-line">
                </div>
                <div class="flowchart-box">
                    <div>↓</div>
                    <input type="text" class="flowchart-input branch" placeholder="ブランチ">
                    <div class="flowchart-box" style="width: 30%;">
                        <div>↓</div>
                        <input type="text" class="flowchart-input condi" placeholder="条件">
                        <input type="text" class="flowchart-input process" placeholder="プロセス">
                        <hr class="add-line">
                    </div>
                    <div class="flowchart-box" style="width: 30%;">
                        <div>↓</div>
                        <input type="text" class="flowchart-input condi" placeholder="条件">
                        <input type="text" class="flowchart-input process" placeholder="プロセス">
                        <hr class="add-line">
                    </div>
                    <div class="flowchart-box" style="width: 30%;">
                        <span class="cond-add"></span>
                    </div>
                </div>
                <div class="flowchart-box">
                    <div>↓</div>
                    <input type="text" class="flowchart-input process" placeholder="プロセス">
                    <hr class="add-line">
                </div>
                <div class="flowchart-box">
                    <div>↓</div>
                    <div id="flowchart-end" class="flowchart-start-end">終了</div>
                </div>
                <div id="flowchart-add-area">
                    追加：
                    <button id="nomal-add-btn" class="btn add-btn" onclick="addFlowchart()">プロセス</button>
                    <button id="branch-add-btn" class="btn add-btn" onclick="addStartFlowchart()">条件分岐</button>
                    <button id="end-btn" class="btn add-btn" onclick="addEndFlowchart()">終了</button>
                </div>
            </div>
        </div>
        <embed id="flowchart-pdf" src="{% static 'pdf/flowchart.pdf' %}" type="application/pdf" width="50%"
            height="800px" />
    </div>
</body>

</html>